body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background: linear-gradient(to right, #ff5e62, #c26488);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for hover and click animations */
}

nav a:hover {
  color: #ff5e62; /* Change color on hover */
}

nav a.active {
  color: #ff5e62; /* Active link color */
  font-weight: bold;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
  width: 80%;
  margin-top: 60px;
}

section {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, p, h3,h4 {
  text-align: center;
}
.profile-picture {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  transition: transform 2s;  /* Add this line */
}


.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate-back {
  animation: rotation-back 1s forwards;
}

@keyframes rotation-back {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.event h3 {
  font-size: 20px;
  margin: 10px 0;
}
.project-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px 0;
}

.skill {
  width: 200px; /* Adjust the width to your preference */
  height: 100px; /* Adjust the height to your preference */
  margin: 0 10px 20px;
}

.skill-category {
  margin-bottom: 20px;
}

.skill-category h3 {
  margin-bottom: 10px;
}

.skill-category .skill {
  display: inline-block;
  margin-right: 10px;
}


.progress {
  width: 100%;
  background: #ddd;
  height: 20px; /* Adjust this to change the height of the loading bar */
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background: #f82222;
  width: 0%;
  border-radius: 5px;
}
.progress-bar.programming {
  background: #f059f0; /* The color of the progress bar for Programming Languages */
}

.progress-bar.software {
  background: #58b368; /* The color of the progress bar for Software Skills */
}

.progress-bar.languages {
  background: #4276b8; /* The color of the progress bar for Languages */
}


.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

/* The circles on the timeline */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.aernnova{
  border-radius: 30%;
}
/* Container around content */
.event {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 70%;
  transition: transform 2s;
  opacity :1;
}
.company-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px; /* adjust as needed */
  height: 80px; /* adjust as needed */
}

/* Place the logo to the right for odd events */
.event:nth-child(odd) .company-logo {
  right: 100%;
  margin-right: 0px; /* adjust as needed */
}

/* Place the logo to the left for even events */
.event:nth-child(even) .company-logo {
  left: 100%;
  margin-left: 0px; /* adjust as needed */
}

/* Adjust styles for img inside .company-logo */
.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



/* Place the container to the left */
.event:nth-child(odd) {
  right: 35%;
  transform: translateX(-50%);
}

/* Place the container to the right */
.event:nth-child(even) {
  left: 50%;
  transform: translateX(50%);
}


/* Add arrows to the left container */
.event:nth-child(odd)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40%;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container */
.event:nth-child(even)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40%;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.event.active {
  transform: translateX(0);
}


/* "Back to top" button */
#back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #df4e4e; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#back-to-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}